rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {

    match /listings/{id} {
      allow read: if true;

      allow create: if request.auth != null
        && request.resource.data.ownerId == request.auth.uid
        && request.resource.data.title is string
        && request.resource.data.price is number
        && request.resource.data.category is string
        && request.resource.data.condition is string
        && request.resource.data.description is string
        && request.resource.data.imageUrls is list;

      allow update, delete: if request.auth != null
        && resource.data.ownerId == request.auth.uid;
    }

    match /carts/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /wishlists/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
