rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /listings/{ownerId}/{listingId}/{fileName} {
      allow read: if true; // public images
      allow write: if request.auth != null && request.auth.uid == ownerId;
      allow delete: if request.auth != null && request.auth.uid == ownerId;
    }
  }
}
